:root {
    /* Color variables, change here, and they change everywhere */
    --header-color: rgb(132, 0, 255);
    --border-color: rgb(132, 0, 255);
    --answer-bg-color: rgb(255, 235, 235);
    --light-font-color: #fff;
    --dark-font-color: #333;
    --Shadow-color: rgba(132, 0, 255, 0.5);
    --font-sans-serif: Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-sans-serif);
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-font-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 16px;
}


/* start style the component here */

.faqBody {
    min-width: 100%;
    padding: 32px;
}

.faqBox {
    margin-bottom: 12px;
    min-width: 100%;
}

.faqHeader {
    width: 100%;
    border: 1px solid var(--border-color);
    background-color: var(--header-color);
    color: var(--light-font-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.faqHeader .question i {
    transform: rotate(90deg);
}

.question {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.faqMain {
    width: 100%;
    background-color: var(--answer-bg-color);
    border: 1px solid var(--border-color);
    color: var(--dark-font-color);
    border-radius: 0 0 8px 8px;
    padding: 16px;
    font-weight: 300;
    line-height: 150%;
}

.faqBoxClosed {
    display: none;
}

.faqHeaderClosed {
    width: 100%;
    border: 1px solid var(--border-color);
    background-color: var(--header-color);
    color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    box-shadow: 0 5px 20px var(--Shadow-color);
    overflow: hidden;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.faqHeaderClosed .faqMain {
    display: none;
}

i {
    font-weight: 700;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}

.faqHeaderClosed .question i {
    transform: rotate(0);
}